<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.closet.beatriz.closet">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AcSplash"
            android:label="@string/app_name">

            <!-- activity not used due to the slow it causes -->
            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
                        -->
        </activity>
        <activity
            android:name=".AcMainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AcAddItem"
            android:label="@string/title_activity_add_item" />
        <activity
            android:name=".AcModifyItem"
            android:label="@string/title_activity_modify_item" />
        <activity
            android:name=".AcSearch"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".AcCategory"
            android:label="@string/title_activity_ac_category" />
        <activity
            android:name=".AcItemDetail"
            android:label="@string/title_activity_ac_item_detail" />
        <activity
            android:name=".AcItemPhoto"
            android:label="@string/title_activity_ac_item_photo" />
        <activity
            android:name=".AcPieChart"
            android:label="@string/title_activity_ac_item_photo" />
        <activity
            android:name=".AcSelecttItem"
            android:label="@string/title_activity_ac_selectt_item" />

    </application>

</manifest>
